.app {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 30%;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.recipe {
    position: relative;
    min-width: 40vw;
    border: solid salmon 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ingredients {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.recipe:hover .ingredients {
    display: flex;
}

.red {
    background: red;
}